div {
    display: table-cell;

    width: 30rem;
    /* height: 30rem; */
    background: lightblue;  
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    margin-right:auto;
    margin-left:auto;
}

img {
    height: 10rem;
    width: 10rem;
    padding: 10px 10px 10px 10px;
}