body {
    padding: 1rem;
    
}

p {
    text-align: left;
    
}

tr {
    width: 40rem;
    height: 5rem;
    border: 5px solid #ccc;
    vertical-align: baseline;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

tr:nth-child(odd) {
    background: lightblue;
}

tr:nth-child(even) {
    background: white;
}

#menu {
  background-color:white;
  height:60rem;
  width:20rem;
  float:left;
  
}

#user, #followings {
  background-color:lightblue;
  width:15rem;
  float:left;
}

#header {
  background-color:lightblue;
}

div, ul {
  margin : 10px 10px 15px 15px;
  /* border-style:solid;
  border-color: black; */
}

ul {
  list-style-type:none;
}

a {
  margin : 10px 10px 15px 15px;
}

#postText {
  height:15rem;
  width:20rem;
}

img {
  height: 5rem;
  width: 5rem;
  padding: 10px 10px 10px 10px;
}